<head>
  <link rel="stylesheet" href="/static/css/style.css" />

  <script defer src="/static/js/products.js"></script>
</head>
<body>
  {{! LOADER }}
  {{! <div
      class="spinner-border"
      style="width: 3rem; height: 3rem;"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div> }}
  <div class="container mt-4 d-flex justify-content-between">
    {{! <div
        style="border: 1px solid red; padding:150px; width: fit-content; margin-right: 100px; height:00px; position:sticky"
      >

        <h5>FILTERS</h5>
      </div> }}
    <div class="row justify-content-right d-flex" id="wrapper">

      <div class="col-md-6 text-center">
        <div id="currentPage"></div>
      </div>
    </div>
  </div>
  <ul class="pagination mx-auto justify-content-center">
    <li class="page-item" id="prevPageBtn"><a
        class="page-link text-white bg-dark"
        id="prev-a"
      >Previous</a></li>
    <li class="page-item"><a
        class="page-link text-white bg-dark"
        href="#"
      >1</a></li>
    <li class="page-item"><a
        class="page-link text-white bg-dark"
        href="#"
      >2</a></li>
    <li class="page-item"><a
        class="page-link text-white bg-dark"
        href="#"
      >3</a></li>
    <li class="page-item" id="nextPageBtn"><a
        class="page-link text-white bg-dark"
        id="next-a"
      >Next</a></li>
  </ul>
</body>