<head>
  <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
  <div class="form-container bg-dark">
    <h2 class="mb-4 text-white">Recover your password</h2>
    <form action="/api/resetpassword" method="post">
      <div class="form-group">
        <label for="first-name">Email</label>
        <input
          type="text"
          class="form-control"
          id="user-name"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input
          type="text"
          class="form-control"
          id="login-password"
          placeholder="Enter your password"
          required
        />
      </div>
      <button
        type="submit"
        id="login-btn"
        class="btn btn-primary text-black bg-white"
      >Reset my password</button>
    </form>
    <button type="button" class="btn btn-link"><a href="/login">Go back to login</a></button>
  </div>
</body>