<head>
  <script defer src="/static/js/productDetail/getUserByEmail.js"></script>
  <script defer src="/static/js/cart/ticket.js"></script>
  <script defer src="/static/js/cart/getCartByEmail.js"></script>
  <link rel="stylesheet" href="/static/css/ticket.css" />
</head>

<body>
  <h1>Gracias por su compra</h1>
</body>