<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <script defer type="module" src="/static/js/home.js"></script>
    <title>MONGO CHAT</title>
  </head>
  <body>
    <input type="text" id="productInput" placeholder="Enter something.." />
    <button id="productButton">Send</button>
  </body>
</html>