<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/socket.io/socket.io.js"></script>
            <script>
  const socket = io();
    </script>
        <script defer  type="module" src="/static/js/script.js"></script>
    <title>Real Time Products</title>
</head>
<body>
    <h1>Real-Time Products</h1>
    <ul id="productList"></ul>
    <input type="text" id="productInput" placeholder="Enter something..">
    <button id="productButton">Send</button>
</body>
</html>