body {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #dfdada;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.form-login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group {
  margin-top: 10px;
}
.form-group input:active,
.form-group input:focus {
  border-color: white;
}
.div-alternative-logins-container {
  display: flex;
  flex-direction: row;
}
.wrapper {
  display: inline-flex;
}
.wrapper .icon {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.wrapper .icon span {
  position: relative;
  z-index: 2;
  height: 60px;
  width: 60px;
  display: block;
  background: #4f4b4b;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i {
  font-size: 25px;
  line-height: 60px;
}
.wrapper .icon .tooltip {
  position: absolute;
  top: 0px;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: -70px;
}

.wrapper .icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.wrapper .icon:hover span,
.wrapp .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .icon:hover span {
  color: #fff;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #0f0f0f;
}
.wrapper .google:hover span,
.wrapper .google:hover .tooltip,
.wrapper .google:hover .tooltip:before {
  background: #db4437;
  color: white;
}
