.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-detail {
  font-size: 1.5rem;
}
.carousel-item img {
  height: 300px;
  object-fit: contain;
  width: 150px;
}

.carousel-indicators button {
  width: 150px;
  object-fit: contain;
}
